.sectionContainer{margin: 30px;}
.sectionHeader{ text-decoration: underline;}
.sectionContainer p{ margin-bottom: 15px;}
.sectionContainer img{height: 250px; border: 5px solid gray; border-radius: 10px; padding: 10px;}


.empty-bar{
  height: 70px;
}

/*start of navigation*/
nav {
  z-index: 99999;
  width: 100%;
  border-bottom: 1px solid #df691a;
}
nav .block {
  background: #fff;
  padding: 10px 40px;
  background: rgba(255, 255, 255, 0.89);
}
nav .block .navbar-default {
  border: none;
  border-radius: 0px;
  margin-bottom: 0;
}
nav .block .navbar-default .navbar-brand {
  padding-left: 50px;
  margin-top: -10px;
}
nav .block .navbar-default .navbar-nav {
  padding-top: 10px;
}
nav .block .navbar-default .navbar-nav > li > a {
  color: #2E2E2E;
  margin: 0px 15px;
  font-size: 15px;
  text-transform: uppercase;
}
nav .block .navbar-default .navbar-nav > li > a:before {
  background-color: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 0;
}
nav .block .navbar-default .navbar-nav > li > a:hover:before {
  background-color: #e94c3d;
  content: "";
  width: 100%;
}
nav .block .navbar-default .navbar-nav > li.current > a {
  color: #2E2E2E;
  padding: 10px 0px;
  margin: 0px 15px;
}
nav .block .navbar-default .navbar-nav > li.current > a:before {
  background-color: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 100%;
  background-color: #e94c3d;
}
nav .block .navbar-default .navbar-nav > .active > a,
nav .block .navbar-default .navbar-nav > .active > a:focus,
nav .block .navbar-default .navbar-nav > .active > a:hover {
  background: none;
}
nav .block .navbar-default .navbar-nav > .active > a:before,
nav .block .navbar-default .navbar-nav > .active > a:focus:before,
nav .block .navbar-default .navbar-nav > .active > a:hover:before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #FF5333;
}

/* end of navigation */


@media (min-width: 768px)
{
    .navbar-header
    {
        float: none;
    }

    .navbar-toggle
    {
        display: block;
    }

    .navbar-collapse.collapse
    {
        display: none !important;
    }
}

/* utility styles */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .btn-round{
  border-radius: 25px;
  padding: 4px 30px;
  margin-left: 100px;
 }


/* section style */
  section{
    padding-bottom: 30px;
    margin: 30px;
    border-radius: 30px;
  }
 .section-hablu-programming{
  background: #F6F6F6;
 }
 .section-dream-job{
  background: rgba(70, 168, 191, 0.1);
 }

 .section-basic-web{
  background: rgba(236, 228, 239, 0.6);
 }

 .section-footer{
  background: #C3DED8;
 }
  
  .section-title h1{
    font-size: 55px;
    line-height: 72px;
    font-weight: bold;
  }

  .section-title-last{
    color:rgba(255, 83, 51, 0.77);
  }

  .section-description .left{
    color: #7B5B5B;
    font-size: 25px;
    line-height: 1.3;
    margin: 0 auto;
    padding: 0 5px;
  }
  .section-description .right{
    padding-left: 50px;
  }

  .section-description ol li{
    list-style: none;
    font-size: 22px;
  }